run_id: $run_id
experiment_name: $experiment_name
execution_runtime: $execution_runtime
experiment_directory: $experiment_directory
runtime_directory: $runtime_directory
archive_directory: $archive_directory
